
@namespace west "http://www.gov.org/west";

/* This matches all XHTML <a> elements, as XHTML is the default unprefixed namespace */
/*a {}

/* This matches all SVG <a> elements */
/*svg|a {}

/* This matches both XHTML and SVG <a> elements */
/* *|a {}
*/

west|state {
background-color: aqua; 
}

states {
display: block;
 background-color: grey; 
}
state {
display: block;
	
}